/* color and font variables variables */
:root{
    --yellow: #F4D04E;
    --grey-950: #111111;
    --grey-500: #6B6B6B;
    --white: #FFFFFF;
}

body{
    background-color: var(--yellow);
    margin: 0;
    padding: 0;
}

.bold-label{
    font-family: "figtree", sans-serif;
    color: var(--grey-950);
    font-size: clamp(12px, 14px, 14px);
    font-weight: 800;
    letter-spacing: 0;
    line-height: 140%;
}

.bold-header{
    font-family: "figtree", sans-serif;
    color: var(--grey-950);
    font-size: clamp(20px, 24px, 24px);
    font-weight: 800;
    letter-spacing: 0;
    line-height: 150%;
}

.medium-label{
    font-family: "figtree", sans-serif;
    color: var(--grey-950);
    font-size: clamp(12px, 14px, 14px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 150%;
}

.medium-content{
    font-family: "figtree", sans-serif;
    color: var(--grey-500);
    font-size: clamp(14px, 16px, 16px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 150%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.card{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-height: 522px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px #000;
    max-width: 75%;
}

img{
    border-radius: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.title:hover{
    color: var(--yellow);
    cursor: pointer;
}


.card-content{
    max-width: 350px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tag{
    background-color: var(--yellow);
    border-radius: 5px;
    width: fit-content;
    padding: 4px 12px;
}

.author{
    display: flex;
    height: 32px;
    gap: 12px;
    align-content: center;
    max-width: 50%;
}

.author div{
    display: flex;
    align-items: center;
}

.author p{
    margin: 0;
    display: block;
}

.author img{
    width: 32px;
    height: 32px;
}


footer{
    font-size: clamp(12px, 14px, 14px);
    position: absolute;
    top: 95%;
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer p{
    padding: 0;
    margin: 0;
}

.credits{
    display: flex;
    align-items: center;
    gap: 5px;
}

.credits:hover{
    cursor: pointer;
}

#arrow{
    transform: rotate(-90deg);
}

.attribution{
    display: none;
}